.red-gradient {
    background: linear-gradient(to bottom, #FF6369 0%, #201F1F 100%);
}

.green-gradient {

    background: linear-gradient(to bottom, #57BC6F 0%, #201F1F 100%);

}
.blue-gradient {

    background: linear-gradient(to bottom, #1A7EFE 0%, #201F1F 100%);

}
.mix-colored {
    background: linear-gradient(182.04deg, rgba(241, 83, 72, 0.65) -6.88%, rgba(246, 195, 164, 0.33) 9.93%, rgba(128, 63, 189, 0.47) 20.28%, rgba(112, 184, 244, 0.84) 33.45%, #A3F388 44.9%, #201F1F 73.46%)
}






.logo {
    position: absolute;

    width: 75%;
    height: auto;
    left: 1.0rem;
    top: 0.8rem;

}

.box {
    position: relative;
    width: 100%;
    max-width: 230px;
    height: 260px;
    left: 1px;
    top: 0px;
    border-radius: 8px;
}

.dashed-line::before,
.dashed-line::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f3f3f3;
    border-radius: 50%;
    top: 65%;
    transform: translateY(-50%);
}

.dashed-line::before {
    left: -10px;
    /* half outside */
}

.dashed-line::after {
    right: -10px;
}

.Glassycontent {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    color: white;
    font-weight: 400;
    padding: 10px 18px;
}

.Glassycontent h3 {
    margin-top: 20px;
    font-size: 15px;
}

.Glassycontent p {
    margin-top: 10px;
    font-size: 10px;
}

.dashed-line {
    position: relative;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(to right,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.8) 8px,
            transparent 8px,
            transparent 16px);
    margin-top: 10%;
}

.claim-button {
    position: absolute;
    width: calc(100% - 40px);
    height: 48px;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.GlassyboxButton {

    width: 100%;
    padding-top: 15px;


}

.buttonSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.claimButton {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: 100;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;


}

.claimButton:hover {
    background-color: #f0f0f0;
}

.starOne {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;

}

.starTwo {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 40px;
    left: 10px;

}

.starThree {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 70px;
    left: 76%;
}

.contentBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}


@media (min-width : 440 ) {
   .logo {
    position: absolute;

    width: 70%;
    height: auto;
    left: 2.4rem;
    top: 0;

}

    
}